* {
  font-family: 'Sahel', sans-serif;
}

/* Define styles for the header */
header {
    text-align: center;
    background-color: darkgray;
    padding: 10px;
}

/* Style for the header text color on hover */
header:hover h1 {
    color: black; /* Change the text color to black on hover */
}

/* Define the default text color */
header h1 {
    color: darkgray; /* Initial text color (dark gray) */
}


/* Style for the container of each scatter plot */
.scatter-plot {
  margin: 20px auto; /* Center the chart container horizontally */
  padding: 20px; /* Add padding to each chart container */
  border: 2px solid gray; /* Add a gray border */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  height: 30vh; /* Set the height to 30% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style for the Date axis (X) */
.xaxis text {
  display: none; /* Hide hours, minutes, and seconds */
}

/* Style for the hover text on the Date axis (X) */
.xaxis.hovertext {
  display: initial; /* Display Day, Month, and Year */
}

/* Style for the <h3> tag */
.scatter-plot h3 {
  margin: 0; /* Remove margin for <h3> */
  color: darkblue; /* Set text color to dark blue */
  text-align: center; /* Center the text horizontally */
}

