* {
  font-family: 'Sahel', sans-serif;
}

/* Body styles */
body {
  background-color: #f5f5dc; /* Slightly beige background color */
  text-align: center; /* Center text within the body */
  font-family: Arial, sans-serif; /* Specify a font */
  margin: 0; /* Remove default body margin */
}

/* Style for the page title */
.page-title {
  color: darkgray; /* Dark gray text color */
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Hover effect for the page title */
.page-title:hover {
  color: black; /* Change text color to black on hover */
}

/* Style for the container of each scatter plot */
.scatter-plot {
  margin: 20px auto; /* Center the chart container horizontally */
  padding: 20px; /* Add padding to each chart container */
  border: 2px solid gray; /* Add a gray border */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  background-color: white; /* Set the background color to white */
  text-align: center; /* Center text within the chart container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Set the width to 100% by default for all devices */

  /* Media query for desktop screens (e.g., screens wider than 768px) */
  @media (min-width: 769px) {
      width: 60%; /* Set the width to 60% for desktops */
  }
}

/* Style for the Date axis (X) */
.xaxis text {
  display: none; /* Hide hours, minutes, and seconds */
}

/* Style for the hover text on the Date axis (X) */
.xaxis.hovertext {
  display: initial; /* Display Day, Month, and Year */
}

/* Style for the <h3> tag within each chart container */
.scatter-plot h3 {
  margin: 0; /* Remove margin for <h3> */
  color: darkblue; /* Set text color to dark blue */
  text-align: center; /* Center the text horizontally */
}

/* Style for the Y-axis labels (round to 1 decimal place) */
.yaxis text {
  font-size: 14px; /* Adjust font size */
}

/* Style for the chart title <h3> */
.chart-title {
  margin-bottom: 20px; /* Add spacing between the page title and charts */
  color: darkgray; /* Dark gray text color */
  font-size: 24px; /* Adjust font size */
  transition: color 0.3s; /* Smooth color transition on hover */
}

/* Hover effect for the chart title <h3> */
.chart-title:hover {
  color: black; /* Change text color to black on hover */
}

.title-line {
  border: none; /* Remove the default border */
  border-top: 2px solid darkgray; /* Set the border to a solid line */
  margin: 10px 0; /* Add margin for spacing */
}

/* Center-align the table of contents horizontally and vertically */
#table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Set the desired width (e.g., 60% of the screen) for desktops */
  width: 100%;
  @media (min-width: 769px) {
      width: 60%;
  }
}

